.max-width {
  width: auto;
  height: 100vh;
}
header,
footer {
  background-color: rgb(156, 156, 156);
}
h1,
h4 {
  font-size: 1rem;
  padding: 1rem;
}

.circle-area,
.box,
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 2rem;
}

.circle {
  background-color: rgb(156, 156, 156);
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
h3 {
  font-size: 3rem;
}
h2 {
  font-size: 0.8rem;
}
.button {
  padding: 0 1.5rem;
  background-color: rgb(156, 156, 156);
  border-radius: 3px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0 3rem 0;
}
